# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp

# Virtual environments
.venv/
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables
.env

# Output and cache folders
output/
cache/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# IDE files
.vscode/
.idea/
